@{
    ViewBag.Title = "Måndagsklubben";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="contentBlock">
    <div class="event">
        <img src="/Content/Images/logo.png" />
        <h2>
            Next event
            <br />
            <span class="countdown" data-bind="text: counter">N/A</span>
        </h2>
        Monday 17:00-22:00
        <br />
        Wokhouse, Regeringsgatan 26, Stockholm, Sweden
        <br />
        See you there!
    </div>
</div>

<div class="contentBlock" data-bind="visible: counter2">
    <div class="event">
        <h2>
            Another event
            <br />
            <span class="countdown" data-bind="text: counter2">N/A</span>
        </h2>
        Monday 17:00-22:00
        <br />
        Wokhouse, Regeringsgatan 26, Stockholm, Sweden
        <br />
        See you there!
    </div>
</div>

<div class="contentBlock">
    <div class="event">
        <h2>About</h2>
        <p>
            The philosophy of Mandagsklubben is pure and wholesome: on every Monday - that wicked day - imbibe in the atmosphere and company of cheerful companions.
        </p>
        <p>
            The purpose of course, to lay the foundation towards a pleasant week that in all other aspects may lead us wherever it fucking pleases.
        </p>
        <p>
            We can always rest assured; our Monday was a joyous occassion.
        </p>
    </div>
</div>

<script>
    function AppViewModel() {
        this.eventStart = moment('@Model');
        this.counter = ko.observable(this.eventStart.fromNow());
        this.counter2 = ko.observable(undefined);
        var self = this;

        function updateCounter() {
            var now = moment();
            var eventEnd = moment(self.eventStart).add('hours', 5);

            if (now > eventEnd) {
                self.eventStart = moment(self.eventStart).add('days', 7);
            }

            if (now < self.eventStart) {
                self.counter(moment(self.eventStart).fromNow());
                self.counter2(undefined);
            } else if (now < eventEnd) {
                self.counter('in progress');
                self.counter2(moment(self.eventStart).add('days', 7).fromNow());
            }
        }

        updateCounter();
        setInterval(updateCounter, 1000);
    }

    // Activates knockout.js
    ko.applyBindings(new AppViewModel());

</script>
